
@{
    ViewBag.Title = "HistoryAuction";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
@using Newtonsoft.Json;
@{
    var result = JsonConvert.DeserializeObject<dynamic>((string)Model);
}
@using (Html.BeginForm("SearchHist", "Admin", FormMethod.Post, new { @class = "form-inline" }))
{
    <label class="sr-only" for="inlineFormInputName2">User Name</label>
    @Html.TextBox("txtSearch", null, new { @class = "form-control mb-2 mr-sm-2", @placeholder = "Product Name" })
    <button type="submit" class="btn btn-gradient-primary mb-2">Search</button>
}
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Recent Product</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> User Name </th>
                                <th> Product Name </th>
                                <th> Starting price </th>
                                <th> Price Auction </th>
                                <th> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in result)
                            {
                                <tr>
                                    <td>@i.UName</td>
                                    <td>@i.PName</td>
                                    <td>@i.MinimumPrice</td>
                                    <td>@i.PriceAuction</td>
                                    <td>@i.Status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

