
@{
    ViewBag.Title = "HistoryAuction";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
@using Newtonsoft.Json;
@{ 
    var result = JsonConvert.DeserializeObject<dynamic>((string)Model);
}
<table class="table">
        <tr>
            <th class="border-0 text-uppercase small font-weight-bold">Product</th>
            <th class="border-0 text-uppercase small font-weight-bold">Date Auction</th>
            <th class="border-0 text-uppercase small font-weight-bold">Date End</th>
            <th class="border-0 text-uppercase small font-weight-bold">Price Auction</th>
            <th class="border-0 text-uppercase small font-weight-bold">Posted by</th>
            <th class="border-0 text-uppercase small font-weight-bold">Status</th>
        </tr>
        @foreach (var i in result)
        {
            <tr>
                <td>@i.UName</td>
                <td>@i.PName</td>
                <td>@i.MinimumPrice</td>
                <td>@i.PriceAuction</td>
                <td>@i.Status</td>
            </tr>
        }
</table>

